* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #ec5c29;
  color: white;
}

body {
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: #161616;
}

/* ovo bas i nije najkorisnija funkcija na malom sajtu ali evo da ispostujem
napisano 28. februara. 2024. godine u 4:35 ujutru. */
footer .bottom, footer .wrap, .services .wrap, .projects .wrap, .hero .wrap, header .wrap {
  width: 70%;
  margin: 0 auto;
  padding: 1.5em 0 1.5em 0;
  display: flex;
  justify-content: space-between;
}

.hero .wrap .centar .hero-tekst .dugme, header .wrap .lista ul li a {
  padding: 7px 20px;
  font-size: 1em;
}

.kontaktForma .footer-tekst .naslov, .services .wrap .naslov, .projects .wrap .projekti-grid .naslov, .hero .wrap .centar .hero-tekst .naslov {
  position: relative;
}
.kontaktForma .footer-tekst .naslov span, .services .wrap .naslov span, .projects .wrap .projekti-grid .naslov span, .hero .wrap .centar .hero-tekst .naslov span {
  color: #ec5c29;
  font-size: 1.2rem;
  position: absolute;
  top: 10px;
}
.kontaktForma .footer-tekst .naslov h1, .services .wrap .naslov h1, .projects .wrap .projekti-grid .naslov h1, .hero .wrap .centar .hero-tekst .naslov h1 {
  font-size: 3.75em;
  text-indent: 3em;
  line-height: 0.9;
}
.kontaktForma .footer-tekst .naslov h3, .services .wrap .naslov h3, .projects .wrap .projekti-grid .naslov h3, .hero .wrap .centar .hero-tekst .naslov h3 {
  font-size: 2.75em;
  text-indent: 3em;
  line-height: 0.9;
}

.services .services-wrap .services-grid > div .serviceBlok-hover .development, .services .services-wrap .services-grid > div .serviceBlok-hover .consulting {
  position: absolute;
  top: 60%;
  right: 3%;
  border-radius: 10px;
  padding: 1rem;
}

.kontaktForma .forma form select, .kontaktForma .forma form input {
  width: 60%;
  height: 3rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #161616;
  border: 1px solid #a1a09f;
  color: white;
}

footer .bottom .logo a h2, footer .wrap .logo a h2, header .wrap .logo a h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}
footer .bottom .logo a p, footer .wrap .logo a p, header .wrap .logo a p {
  font-size: 1rem;
  font-weight: 400;
  color: #a1a09f;
}

header {
  border-bottom: 1px solid #dbdbdb;
  line-height: 1;
}
header .wrap .lista {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
header .wrap .lista ul {
  display: flex;
  border-radius: 7px;
  border: solid #cecece 1px;
  padding: 5px;
  gap: 5px;
}
header .wrap .lista ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .wrap .lista ul li:hover {
  background-color: #dbdbdb;
  border-radius: 5px;
}
header .wrap .lista ul li a {
  color: black;
}
header .wrap .lista ul li .active {
  background-color: #161616;
  color: white;
  border-radius: 5px;
  color: #e5e5e5;
}
header .wrap .lista .chat {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: solid #cecece 1px;
}
header .wrap .lista .chat:hover {
  border: 1px solid #ec5c29;
}
header .wrap .lista .chat a {
  color: #ec5c29;
  text-decoration: none;
  padding: 7px 20px;
  font-size: 1em;
}

@media screen and (max-width: 400px) {
  header .wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .wrap .logo {
    margin-bottom: 2vh;
  }
  header .wrap .lista ul {
    padding: 3px;
  }
  header .wrap .lista .chat a {
    padding: 5px 10px;
  }
}
.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.hero .wrap > div {
  width: 100%;
}
.hero .wrap > div img {
  width: 100%;
  height: auto;
}
.hero .wrap img {
  clip-path: polygon(0 0, 53% 0, 100% 13%, 100% 100%, 0 100%);
  background-color: #ec5c29;
  border-radius: 10px;
}
.hero .wrap #isecak {
  clip-path: polygon(53% 0, 100% 0, 100% 100%, 0 100%, 0 13%);
}
.hero .wrap .centar {
  height: 100%;
  display: grid;
  place-content: center;
}
.hero .wrap .centar img {
  clip-path: polygon(0 0, 53% 0, 100% 13%, 100% 100%, 0 100%);
  background-color: #ec5c29;
  border-radius: 10px;
}
.hero .wrap .centar .hero-tekst p {
  max-width: 60ch;
  margin-top: 20px;
  margin-bottom: 40px;
}
.hero .wrap .centar .hero-tekst .naslov {
  position: relative;
}
.hero .wrap .centar .hero-tekst p {
  color: #a1a09f;
}
.hero .wrap .centar .hero-tekst .dugme {
  background-color: #ec5c29;
  border-radius: 5px;
  color: #e5e5e5;
}
.hero .wrap .centar .hero-tekst .dugme:hover {
  background-color: #161616;
}

@media screen and (max-width: 400px) {
  .hero {
    margin-top: 5vh;
  }
  .hero .wrap {
    width: 90%;
    flex-direction: column-reverse;
  }
  .hero .wrap .centar .hero-tekst {
    margin-bottom: 5vh;
  }
  .hero .wrap .centar .hero-tekst .naslov h1 {
    font-size: 2rem;
    text-indent: 4em;
  }
  .hero .wrap .centar .hero-tekst .naslov span {
    font-size: 0.875rem;
  }
}
.kompanije {
  margin: 0px auto;
  text-align: center;
  width: 30%;
  overflow: hidden;
}
.kompanije h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #a1a09f;
}
.kompanije .carousel {
  margin-top: 40px;
  border-bottom: 40px;
  display: flex;
  width: 200%;
  animation: bannermove 20s linear infinite;
  font-size: 2rem;
  color: rgba(22, 22, 22, 0.2509803922);
}
.kompanije .carousel div {
  width: 100%;
}
.kompanije .carousel div ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.kompanije .carousel div ul li {
  width: 100%;
}
.kompanije .carousel div ul li:hover {
  color: #ec5c29;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@media (max-width: 400px) {
  .kompanije {
    width: 70%;
  }
}
.projects {
  margin-top: 15vh;
}
.projects .wrap .projekti-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.projects .wrap .projekti-grid .naslov {
  padding-left: 2rem;
  margin-bottom: 3vh;
}
.projects .wrap .projekti-grid div p {
  max-width: 45ch;
  padding-left: 2rem;
  color: #a1a09f;
}
.projects .wrap .projekti-grid .slikaProjekat {
  padding: 2rem;
  border-radius: 10px;
  overflow: hidden;
}
.projects .wrap .projekti-grid .slikaProjekat img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media screen and (max-width: 400px) {
  .projects .wrap {
    width: 100%;
    padding: 0;
  }
  .projects .wrap .projekti-grid {
    grid-template-columns: 1fr;
  }
  .projects .wrap .projekti-grid .naslov h3 {
    margin-top: 2px;
    font-size: 2rem;
    width: 90%;
  }
}
.services {
  margin-top: 15vh;
  margin-bottom: 15vh;
}
.services .wrap .naslov {
  padding-left: 2rem;
  margin-bottom: 3vh;
}
.services .wrap p {
  max-width: 45ch;
  padding-left: 2rem;
  color: #a1a09f;
}
.services .services-wrap {
  width: 70%;
  margin: 0 auto;
  margin-top: 10vh;
}
.services .services-wrap .services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  gap: 2%;
}
.services .services-wrap .services-grid > div {
  border: 1px solid #a1a09f;
  border-radius: 10px;
  padding: 10%;
  position: relative;
  overflow: hidden;
}
.services .services-wrap .services-grid > div h5 {
  color: #161616;
  font-size: 1.5rem;
}
.services .services-wrap .services-grid > div .tekst {
  color: #a1a09f;
  font-weight: 400;
  font-size: 1rem;
}
.services .services-wrap .services-grid > div:last-child {
  grid-row: 2/2;
  grid-column: 1/4;
  padding: 3%;
  margin-top: 1%;
}
.services .services-wrap .services-grid > div:hover {
  border: #ec5c29 1px solid;
}
.services .services-wrap .services-grid > div .broj {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: #a1a09f;
}
.services .services-wrap .services-grid > div .serviceBlok-hover {
  position: absolute;
  width: 100%;
  height: 200%;
  top: 0;
  right: 0;
  text-align: start;
  transition: all 0.7s ease-in-out;
  /* border: 1px solid black; */
}
.services .services-wrap .services-grid > div .serviceBlok-hover:hover {
  transform: translateY(-52%);
}
.services .services-wrap .services-grid > div .serviceBlok-hover .consulting {
  border: rgba(22, 22, 22, 0.1254901961) 1px solid;
  transform: rotate(20deg);
}
.services .services-wrap .services-grid > div .serviceBlok-hover .consulting p {
  color: #a1a09f;
}
.services .services-wrap .services-grid > div .serviceBlok-hover .consulting span {
  color: #ec5c29;
}
.services .services-wrap .services-grid > div .serviceBlok-hover .development {
  word-spacing: 2ch;
  font-size: 2rem;
  right: 7%;
}
.services .services-wrap .services-grid > div .serviceBlok-hover .development i[class="fa-brands fa-php"] {
  color: #7B7FB5;
}
.services .services-wrap .services-grid > div .serviceBlok-hover .development i[class="fa-brands fa-css3-alt"] {
  color: #AFC1D6;
}
.services .services-wrap .services-grid > div .serviceBlok-hover .development i[class="fa-brands fa-html5"] {
  color: #f47950;
}
.services .services-wrap .services-grid > div .serviceBlok-hover .development i[class="fa-brands fa-square-js"] {
  color: #F7BE6A;
}

@media (max-width: 400px) {
  #services .wrap {
    width: 90%;
    flex-direction: column;
  }
  #services .wrap .naslov h3 {
    font-size: 2rem;
  }
  #services .services-wrap {
    margin-top: 5vh;
  }
  #services .services-wrap .services-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }
  #services .services-wrap .services-grid .serviceBlok {
    padding-top: 5%;
  }
  #services .services-wrap .services-grid .serviceBlok .serviceBlok-hover .consulting {
    font-size: 0.875rem;
    padding: 3px;
  }
  #services .services-wrap .services-grid .serviceBlok .serviceBlok-hover .development {
    margin-bottom: 50px;
    top: 50%;
  }
  #services .services-wrap .services-grid .serviceBlok .broj {
    margin-bottom: 20px;
  }
  #services .services-wrap .services-grid .poslednjiRed {
    grid-column: 1/1;
    grid-row: 4/4;
    padding: 10%;
    padding-top: 5%;
  }
}
.kontaktForma {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.kontaktForma .footer-tekst {
  background-color: #DBDEDD;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.kontaktForma .footer-tekst .naslov {
  width: 60ch;
  margin-top: 5rem;
}
.kontaktForma .footer-tekst .envelope {
  font-size: 30rem;
  color: rgba(22, 22, 22, 0.1254901961);
  position: absolute;
  bottom: -4vh;
  right: -15%;
}
.kontaktForma .forma {
  background-color: #161616;
  color: #dae1e4;
  padding: 5rem 2rem;
}
.kontaktForma .forma label {
  display: block;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.kontaktForma .forma form {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.kontaktForma .forma form .forma-request {
  grid-column: span 2;
}
.kontaktForma .forma form .forma-request textarea {
  grid-column: span 2;
  max-width: 80%;
  min-width: 80%;
  width: 80%;
  max-height: 5rem;
  min-height: 5rem;
  height: 5rem;
  font-size: 1rem;
  background-color: #161616;
  border-radius: 10px;
  color: white;
  padding: 0.5ch 1ch;
  font-weight: 300;
}
.kontaktForma .forma form #dugmeSubmit {
  margin-top: 5vh;
  background-color: #ec5c29;
  border-radius: 5px;
  color: #e5e5e5;
  padding: 0;
  transition: all 0.2s ease-in-out;
  border: 0px transparent solid;
}
.kontaktForma .forma form #dugmeSubmit:hover {
  word-spacing: 1ch;
  padding-left: 1ch;
}
.kontaktForma .forma form input:hover {
  border: #ec5c29 1px solid;
}
.kontaktForma .forma form select {
  padding: 0 1rem;
}
.kontaktForma .forma form select:hover {
  border: #ec5c29 1px solid;
}
.kontaktForma .forma form select:required:invalid {
  color: gray;
}
.kontaktForma .forma form select option {
  color: white;
}
.kontaktForma .forma form select option[value=""][disabled] {
  display: none;
}

@media (max-width: 400px) {
  .kontaktForma {
    margin-top: 5vh;
    grid-template-columns: 1fr;
  }
  .kontaktForma .naslov {
    margin-bottom: 5vh;
  }
  .kontaktForma .envelope {
    display: none;
  }
  .kontaktForma .forma form {
    grid-template-columns: 1fr;
  }
  .kontaktForma .forma form input {
    width: 100%;
  }
  .kontaktForma .forma form select {
    width: 100%;
  }
  .kontaktForma .forma form .forma-request {
    grid-column: span 1;
  }
  .kontaktForma .forma form .forma-request textarea {
    height: 6rem;
    max-height: 6rem;
    min-height: 6rem;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    resize: none;
  }
}
footer .wrap {
  padding-bottom: 0px;
  border-bottom: 1px solid rgba(22, 22, 22, 0.1254901961);
}
footer .wrap .logo {
  margin-top: 0.4rem;
}
footer .wrap .footer-menu ul {
  word-spacing: 1ch;
}
footer .wrap .footer-menu ul li {
  display: inline-block;
}
footer .wrap .footer-menu ul li a {
  color: rgba(22, 22, 22, 0.8588235294);
  font-size: 1.5rem;
}
footer .wrap .footer-menu ul li a:hover {
  color: #ec5c29;
}
footer .bottom {
  padding-top: 0px;
}
footer .bottom .contact-message p {
  color: #a1a09f;
  font-weight: 400;
}

@media (max-width: 400px) {
  footer .wrap {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */